[Language]
Language=Auto

[English]
PageName=S3 Refresh
OK=OK
Cancel=Cancel
Yes=Yes
No=No
ChangeConfiguration=Change Configuration
BoxCaption=Display Properties
MsgRestore=Windows has restored your original desktop Refresh Rate.
MsgVerify=You changed  your desktop Refresh Rate. Do you want to keep this Refresh Rate?
MsgWarning=Windows will now change your desktop Refresh Rate. This could take a few seconds, during which your screen might flicker. If Windows does not reappear correctly, wait 10 seconds, and your original settings will be restored.
Optimal=Optimal
Adapter=Adapter default
Interlaced=Interlaced

[Japanese]
;Œ¾Œê‰pu‰pŒêv
PageName=ØÌÚ¯¼­
Yes=‚Í‚¢
No=‚¢‚¢‚¦
OK=OK
Cancel=·¬İ¾Ù
ChangeConfiguration=ºİÌ¨¸ŞÚ°¼®İ•ÏX
BoxCaption=ÌßÛÊßÃ¨•\¦
MsgRestore=³²İÄŞ³½Ş‚Í‚ ‚È‚½‚ÌµØ¼ŞÅÙ‚ÌÃŞ½¸Ä¯ÌßØÌÚ¯¼­Ú°Ä‚ğ‰ñ•œ‚µ‚Ü‚µ‚½B 
MsgVerify=‚ ‚È‚½‚ÍÃŞ½¸Ä¯ÌßØÌÚ¯¼­Ú°Ä‚ğ•ÏX‚µ‚Ü‚µ‚½B‚±‚ÌØÌÚ¯¼­Ú°Ä‚ğ•Û‘¶‚µ‚Ü‚·‚©B 
MsgWarning=³¨İÄŞ³½Ş‚Í‚ ‚È‚½‚ÌØÌÚ¯¼­Ú°Ä‚ğ•ÏX‚µ‚Ü‚·B ”•bŠÔ‚©‚©‚è‚Ü‚·B‚»‚ÌŠÔA½¸Ø°İ‚ª“_–Å‚·‚é‚±‚Æ‚ª‚ ‚è‚Ü‚·B³¨İÄŞ³½Ş‚ª³‚µ‚­—§‚¿ã‚ª‚ç‚È‚¢ê‡‚ÍA10•bŠÔ‘Ò‚Á‚Ä‚­‚¾‚³‚¢BŒ³‚Ìİ’è‚ª‰ñ•œ‚³‚ê‚Ü‚·B
Optimal=Å“K‰»
Adapter=ƒAƒ_ƒvƒ^[‚ÌƒfƒtƒHƒ‹ƒg’l
Interlaced=ƒCƒ“ƒ^[ƒŒ[ƒX

[Norwegian]
PageName=Oppfrisk
Yes=Ja
No=Nei
OK=OK
Cancel=Avbryt
ChangeConfiguration=Endre konfigurasjon
BoxCaption=Skjermegenskaper
MsgRestore=Windows har gjenopprettet din opprinnelige oppfriskingshastighet for skrivebord.
MsgVerify=Du har endret din oppfriskingshastighet for skrivebord. Vil du beholde denne oppfriskingshastigheten?
MsgWarning=N† endrer Windows din oppfriskingshastighet for skrivebord. Dette kan ta noen sekunder, og skjermen kan flimre. Hvis Windows ikke vises som det skal etterp†, venter du 10 sekunder, s† gjenopprettes dine opprinnelige innstillinger.
Optimal=Optimal
Adapter=Kortstandard
Interlaced=Sammenflettet

[Dutch]
PageName=Refresh
Yes=Ja
No=Nee
OK=OK
Cancel=Annuleren
ChangeConfiguration=Configuratie wijzigen
BoxCaption=Eigenschappen voor Beeldscherm
MsgRestore=Windows heeft de originele refresh-rate van het bureaublad hersteld.
MsgVerify=U heeft de refresh-rate van het bureaublad gewijzigd. Wilt u deze refresh-rate behouden?
MsgWarning=Windows wijzigt nu de refresh-rate van het bureaublad. Dit kan enkele seconden duren en het scherm kan gaan knipperen. Als Windows daarna niet goed wordt weergegeven, wacht dan 10 seconden, waarna uw oorspronkelijke instellingen weer worden hersteld.
Optimal=Optimaal
Adapter=Adapter standaard
Interlaced=Ge‹nterlinieerd


[Spanish]
;Latin American Spanish
PageName=Regenerar
Yes=S¡
No=No
OK=Aceptar
Cancel=Cancelar
ChangeConfiguration=Cambiar Configuraci¢n
BoxCaption=Visualizar Propiedades
MsgRestore=Windows ha restaurado la Velocidad de Regeneraci¢n original de computadora de escritorio.
MsgVerify=Usted cambi¢ la Velocidad de Regeneraci¢n de la computadora de escritorio. ¨Desea quedarse con esta Velocidad de Regeneraci¢n?
MsgWarning=Windows cambiar  ahora la Velocidad de Regeneraci¢n de su computadora de escritorio. Esto puede llevar algunos segundos, durante los cuales es posible que la pantalla titile.  Si Windows no vuelve a aparecer correctamente, espere 10 segundos y se restaurar n las disposiciones originales.
Optimal=àptimo
Adapter=Valor predeterminado
Interlaced=Entrelazado


[Italian]
PageName=Aggiornamento
Yes=S
No=No
OK=OK
Cancel=Annulla
ChangeConfiguration=Cambia configurazione
BoxCaption=Visualizza propriet…
MsgRestore=Windows ha ripristinato la velocit… di aggiornamento originaria del desktop.
MsgVerify=La velocit… di aggiornamento del desktop Š stata modificata. Si desidera confermare la nuova velocit…?
MsgWarning=Windows modificher… la velocit… di aggiornamento del desktop. L'operazione durer… alcuni secondi, durante i quali la visualizzazione potrebbe non essere perfetta. Nel caso in cui Windows non venga visualizzato correttamente, attendere 10 secondi e le impostazioni originali verranno ripristinate.
Optimal=Ottimale
Adapter=Adattatore standard
Interlaced=Alternato


[German]
PageName=Aktualisieren
Yes=Ja
No=Nein
OK=OK
Cancel=Abbrechen
ChangeConfiguration=Konfiguration „ndern
BoxCaption=Eigenschaften von Anzeige
MsgRestore=Die ursprngliche Bildwiederholungsfrequenz wurde wiederhergestellt.
MsgVerify=Sie haben die Bildwiederholungsfrequenz ge„ndert. M”chten Sie diese Bildwiederholungsfrequenz beibehalten?
MsgWarning=Die Bildwiederholungsfrequenz wird jetzt ge„ndert. W„hrend dieses Vorgangs, der einige Sekunden lang dauert, k”nnen Bildst”rungen auftreten. Wenn das Bild von Windows innerhalb von 10 Sekunden nicht richtig hergestellt werden kann, werden die ursprnglichen Einstellungen wiederhergestellt.
Optimal=Optimal
Adapter=Adaptervorgabe
Interlaced=mit Zeilensprung


[French]
PageName=RafraŒchir
Yes=Oui
No=Non
OK=OK
Cancel=Annuler
ChangeConfiguration=Modifier la configuration
BoxCaption=Afficher les propri‚t‚s
MsgRestore=Windows a restaur‚ la vitesse de rafraŒchissement d'origine du bureau.
MsgVerify=Vous avez modifi‚ la vitesse de rafraŒchissement du bureau. Voulez-vous conserver cette vitesse de rafraŒchissement ?
MsgWarning=Windows va maintenant modifier la vitesse de rafraŒchissement du bureau. Cette op‚ration peut durer quelques secondes pendant lesquelles l'‚cran se met … clignoter. Si Windows n'est pas r‚affich‚ correctement, attendez 10 secondes. Vos paramŠtres originaux sont restaur‚s.
Optimal=Optimal
Adapter=Carte graphique par d‚faut
Interlaced=Entrelac‚


[Finnish]
PageName=Virkist„
Yes=Kyll„
No=Ei
OK=OK
Cancel=Peruuta
ChangeConfiguration=Muuta kokoonpanoa
BoxCaption=N„yt„ ominaisuudet
MsgRestore=Windows on palauttanut ty”p”yd„n alkuper„isen virkistystaajuuden.
MsgVerify=Olet muuttanut ty”p”yd„n virkistystaajuutta. Haluatko pit„„ t„m„n virkistystaajuuden?
MsgWarning=Windows muuttaa nyt ty”p”yd„n virkistystaajuutta. Se vie muutaman sekunnin, jona aikana n„ytt”ruutu voi v„lkky„. Jos Windows ei tule n„kyviin oikein, odota 10 sekuntia, jonka j„lkeen alkuper„iset asetukset palautuvat.
Optimal=optimaalinen
Adapter=sovittimen oletus
Interlaced=lomitettu


[Danish]
PageName=Opfrisk
Yes=Ja
No=Nej
OK=OK
Cancel=Annuller
ChangeConfiguration=’ndre konfiguration
BoxCaption=Vis egenskaber
MsgRestore=Windows har genskabt den oprindelige opfriskningshastighed.
MsgVerify=Du har ‘ndret opfriskningshastighed. nsker du at bibeholde denne opfriskningshastighed?
MsgWarning=Windows ‘ndrer opfriskningshastigheden. Det kan tage nogle f† sekunder, hvor sk‘rmen kan flimre lidt. Hvis Windows ikke vises korrekt, kan du vente 10 sek., hvorefter de originale indstillinger vil blive genskabt.
Optimal=Optimal
Adapter=Adapterstandard
Interlaced=Sk‘rmskanderet


[Portuguese]
;Brazilian Portuguese
PageName=Renovar
Yes=Sim
No=NÆo
OK=OK
Cancel=Cancelar
ChangeConfiguration=Alterar Configura‡Æo
BoxCaption=Propriedades do V¡deo
MsgRestore=O Windows restaurou a Taxa de Renova‡Æo original do computador de mesa.
MsgVerify=Vocˆ alterou a Taxa de Renova‡Æo do computador de mesa. Vocˆ deseja manter essa Taxa de Renova‡Æo?
MsgWarning=O Windows vai agora alterar a Taxa de Renova‡Æo do computador de mesa. Isso poder  levar alguns segundos durante os quais a tela talvez trema. Se o Windows nÆo reaparecer corretamente, espere 10 segundos e as configura‡äes originais serÆo restauradas.
Optimal=¢timo
Adapter=PadrÆo do adaptador
Interlaced=Interpolado


[Thai]
PageName=ÃÕà¿Ãª
Yes=ãªè
No=äÁèãªè
OK=µ¡Å§
Cancel=Â¡àÅÔ¡
ChangeConfiguration=à»ÅÕèÂ¹¤Í¹¿Ôà¡ÍàÃªÑ¹
BoxCaption=¾ÃÍ¾à¾ÍÃìµÕ¡ÒÃáÊ´§¼Å
MsgRestore=ÇÔ¹â´ÇÊìä´éàÃÕÂ¡¤×¹ÍÑµÃÒÃÕà¿Ãª¢Í§à´Ê¡ì·Í»¢Í§à´ÔÁ
MsgVerify=¤Ø³ä´éà»ÅÕèÂ¹ÍÑµÃÒÃÕà¿Ãª¢Í§à´Ê¡ì·Í»  ¤Ø³µéÍ§¡ÒÃà¡çºÍÑµÃÒãËÁè¹ÕéËÃ×ÍäÁè
MsgWarning=ÇÔ¹â´ÇÊì¨Ğ·Ó¡ÒÃà»ÅÕèÂ¹ÍÑµÃÒÃÕà¿Ãª¢Í§à´Ê¡ì·Í» «Öè§ãªéàÇÅÒ»ÃĞÁÒ³ 2-3 ÇÔ¹Ò·Õ  ÃĞËÇèÒ§¹Õé¨ÍÀÒ¾ÍÒ¨¡ÃĞ¾ÃÔºä´é  ¶éÒÇÔ¹â´ÇÊìäÁè»ÃÒ¡¯ÍÂèÒ§¶Ù¡µéÍ§ ãËéÃÍ 10 ÇÔ¹Ò·Õ  ÍÑµÃÒÃÕà¿Ãª¢Í§à´ÔÁ¨Ğ¶Ù¡àÃÕÂ¡ÁÒãªéãËÁè
Optimal=´Õ·ÕèÊØ´
Adapter=ÍĞá´»àµÍÃì ´Õ¿ÍÅ·ì
Interlaced=ÍÔ¹à·ÍÃìàÅ«


[Traditional Chinese]
PageName=­«·s¾ã²z
Yes=¬O
No=§_
OK=½T©w
Cancel=¨ú®ø
ChangeConfiguration=ÅÜ§ó²ÕºA
BoxCaption=Åã¥Ü¾¹¤º®e
MsgRestore=Windows ¤wÁÙ­ì±zªº­ì©l®à­±­«·s¾ã²z³t²v¡C
MsgVerify=±z¤wÅÜ§ó±zªº®à­±¨ê·s²v¡C±z¬O§_­n«O¯d¦¹­«·s¾ã²z³t²v¡H
MsgWarning=Windows ±N­nÅÜ§ó±zªº®à­±­«·s¾ã²z³t²v¡C¦¹¤u§@»İ®É¼Æ¬í¡C¶i¦æÅÜ§ó®É¡A¿Ã¹õ¥i¯à·|°{Ã{¡C¦pªG Windows ¤£¯à«ì´_¥¿±`Åã¥Ü¡A½Ğµ¥«İ 10 ¬í¡AÅı­ì©l³]©w¦Û°Ê«ì´_¡C
Optimal=³Ì¨Î³]©w
Adapter=¹w³]Âà±µ¾¹
Interlaced=¥æ¿ù«¬


[Simplified Chinese]
PageName=Ë¢ĞÂ
Yes=ÊÇ
No=·ñ
OK=È·¶¨
Cancel=È¡Ïû
ChangeConfiguration=¸ü¸ÄÅäÖÃ
BoxCaption=ÏÔÊ¾Æ÷ÊôĞÔ
MsgRestore=Windows ÒÑ»¹Ô­ÄúµÄÔ­Ê¼×ÀÃæË¢ĞÂÂÊ¡£
MsgVerify=ÄúÒÑ¸ü¸ÄÄúµÄ×ÀÃæË¢ĞÂÂÊ¡£ÄúÊÇ·ñÒª±£Áô´ËË¢ĞÂÂÊ£¿
MsgWarning=Windows ½«Òª¸ü¸ÄÄúµÄ×ÀÃæË¢ĞÂÂÊ¡£´ËÈÎÎñĞèÊ±ÊıÃë¡£½øĞĞ¸ü¸ÄÊ±£¬ÆÁÄ»¿ÉÄÜ»áÉÁË¸¡£Èç¹û Windows ²»ÄÜ»Ö¸´Õı³£ÏÔÊ¾£¬ÇëµÈ´ı 10 Ãë£¬ÄúµÄÔ­Ê¼ÉèÖÃ»á×Ô¶¯»Ö¸´¡£
Optimal=×î¼Ñ
Adapter=Ô¤Éè×ª½ÓÆ÷
Interlaced=½»´í


[Korean]
PageName=¸®ÇÁ·¹½¬
Yes=¿¹
No=¾Æ´Ï¿À
OK=È®ÀÎ
Cancel=Ãë¼Ò
ChangeConfiguration=È¯°æ ¼³Á¤ º¯°æ
BoxCaption=µğ½ºÇÃ·¹ÀÌ µî·Ï Á¤º¸
MsgRestore=À©µµ¿ì¸¦ ¿ø·¡ÀÇ µ¥½ºÅ©Å¾ ¸®ÇÁ·¹½¬ ¼Óµµ·Î º¹±¸ÇÏ½Ê½Ã¿À.
MsgVerify=µ¥½ºÅ©Å¾ ¸®ÇÁ·¹½¬ ¼Óµµ¸¦ º¯°æÇÏ¿´½À´Ï´Ù. ÀÌ ¸®ÇÁ·¹½¬ ¼Óµµ¸¦ »ç¿ëÇÏ°Ú½À´Ï±î?
MsgWarning=ÀÌÁ¦ À©µµ¿ì°¡ ¸®ÇÁ·¹½¬ ¼Óµµ¸¦ º¯°æÇÕ´Ï´Ù. ÀÌ´Â È­¸éÀÌ ±ô¹Ú°Å¸®¸é¼­ ¸î ºĞÁ¤µµ ¼Ò¿äµË´Ï´Ù, À©µµ¿ì°¡ ´Ù½Ã Á¤È®ÇÏ°Ô Ç¥½ÃµÇÁö ¾Ê´Â °æ¿ì, 10ÃÊµ¿¾È ±â´Ù¸° ´ÙÀ½, ¿ø·¡ÀÇ ¼³Á¤À¸·Î º¹±¸ÇÏ½Ê½Ã¿À.
Optimal=ÃÖÀû ¼³Á¤
Adapter=¾î´ğÅÍ ±âº»°ª
Interlaced=ÀÎÅÍ·¹ÀÌ½º


[Swedish]
PageName=Uppdatera
Yes=Ja
No=Nej
OK=OK
Cancel=Avbryt
ChangeConfiguration=ndra konfiguration
BoxCaption=Visa egenskaper
MsgRestore=Windows har †terst„llt skrivbordets originaluppdateringshastighet.
MsgVerify=Du har „ndrat skrivbordets uppdateringshastighet. Vill du beh†lla denna inst„llning?
MsgWarning=Windows kommer nu att „ndra skrivbordets uppdateringshastighet. Detta kan ta n†gra sekunder och bildsk„rmen kan flimra. Om Windows inte visas igen, v„nta 10 sekunder medan dina originalinst„llningar †terst„lls.
Optimal=optimal
Adapter=adapterf”rval
Interlaced=sammanfl„tad


